@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap');

body {
	font-family: 'Roboto', sans-serif !important;
	background-color: #1b1b1b !important;
}

.navbar {
	height: 100px;
}

.navbar-brand {
	font-size: 24px !important;
	font-weight: 700;
	text-transform: uppercase;
}

.nav-link {
	font-size: 16px;
	font-weight: 500;
	color: white !important;
}

.nav-link:hover {
	color: rgba(255, 255, 255, 0.75) !important;
}

header {
	background-image: url(img/bg.png);
	background-size: cover;
	height: 100vh;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	width: 600px;
	margin: auto;
	height: 100vh;
	text-align: center;
}

.info h1 {
	font-size: 72px !important;
	font-weight: 700;
}

.gallery-title, .contact-title {
	font-size: 72px !important;
	font-weight: 700;
  text-align: center;
  color: white;
  margin: 40px 0;
}

.info h2 {
	font-size: 24px !important;
	font-weight: 700;
}

.info p {
	font-size: 18px;
	font-weight: 400;
}

.gallery-anchor, .contact-me {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 14px;
	padding: 18px 40px;
	background-color: white;
	border-radius: 50px;
	color: #272142;
}

.gallery-anchor:hover, .contact-me:hover {
	background-color: #212121;
	color: white;
}

.gallery-anchor:active, .contact-me:active {
	background-color: white;
	color: #272142;
}

.gallery {
	margin: 100px auto;
	display: flex;	
	justify-content: space-between;
  flex-wrap: wrap;
}

.gallery .item {
	padding-bottom: 40px;
	transition: transform 0.25s;
	cursor: pointer;
}

.gallery .item:hover {
	transform: scale(1.1);
}

.about {
  display: flex;  
  justify-content: flex-start; 
  align-items: center; 
}

.my-photo {
  flex-grow: 1;  
}

.about .info {  
  align-items: flex-start; 
  text-align: left; 
  justify-content: space-around;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 40px;
  flex-grow: 1;
}

.about h1 {
  font-size: 64px !important;
}

.about h2, .contact-info h2 {
  font-size: 18px !important;
  color: #F65282;
}

.about h2, .about h1, .contact-me, .about .info .social-icons, .contact-info h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

.about .social-icons a {
  color: white;
  margin: 0 15px;
}

.contact-info {
  color: white;
  text-align: center;
  margin: 40px 0;
}

.contact-info a, .contact-info p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.75);
}

footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 100px;
}

footer a {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

footer a:hover, .about .social-icons a:hover {
	color: rgba(255, 255, 255, 0.75);
}

.social-icons a {
	margin: 0 30px;
}

@media (min-width: 1400px) {
	.container {
		max-width: 1140px !important;
	}
}

@media (max-width: 1024px) {
  .my-photo {
    width: 500px;
  }
  
}

@media (max-width: 912px) {
  header {
    background-position: center;    
  } 

  .my-photo {
    width: 100%;
  }

  .about {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
  }

  .about .info {
    margin: 20px;
  }  

  .gallery {    
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 50px auto;
  }
  .social-icons a {
    margin: 0 10px;
  }
}

@media (max-width: 540px) {
  .info {
    width: 400px;
  }
  .info h1, .gallery-title, .contact-title {
    font-size: 44px !important;
  }

  .gallery {
    margin: 30px auto;
  }

  .gallery .item {
	padding-bottom: 30px;
  }

  footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

}

@media (max-width: 414px) {
  .info h1, .gallery-title, .contact-title {
    font-size: 36px !important;
  }

  .info {
    width: 270px;
  }

  .about .info {
    margin: 10px;
  }

  .gallery {
    margin: 10px auto;
  }

  .gallery .item {
	padding-bottom: 10px;
  }
}
